<ion-content>
  <div class='main'>
    <ion-label class='main-label'>Закажи кофе заранее</ion-label>
    <ion-text class='main-text'>Выберете кофейню, где заберете свой заказ</ion-text>
  </div>

  <ion-card *ngFor='let p of list'>
    <img alt='Silhouette of mountains' src='assets/{{p.image}}.png' />
    <ion-card-header>
      <ion-card-title><b>{{p.name}}</b></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div>
        <ion-text>{{p.adrress}}</ion-text>
        <ion-img src='assets/dot.png'></ion-img>
        <ion-text>{{p.worktime}}</ion-text>
      </div>
      <ion-buttons>
        <ion-button>
          <ion-icon name='arrow-forward-outline' color=''></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-buttons class='back-button'>
  <ion-button [routerLink]="['/']">Назад</ion-button>
</ion-buttons>
