<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Программа лояльности</ion-card-title>
      <ion-label>Копите бонусы и расплачивайтесь</ion-label>
    </ion-card-header>

    <ion-card-content>
      <div>
        <ion-label>150</ion-label>
        <ion-text>накопленных бонусов</ion-text>
      </div>
      <ion-buttons>
        <ion-button>QR-КОД</ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>

  <div class="about">
    <!--  need to add logo -->
    <ion-img class="logo1" src="assets/logo1.png"></ion-img>
    <ion-label class="about-label"> Варим кофе - получаем удовольствие! </ion-label>
    <ion-text class="about-text">
      Спот в центре Краснодара с большой крытой летней верандой и особенной энергией. Здесь легко почувствовать себя как
      дома: теплый гранж интерьер, мягкий свет, много дерева и зелени. Сразу хочется надеть халат, любимые тапочки,
      налить свежезаваренный фильтр в керамическую чашку и болтать обо всем на свете с друзьями. Или поработать за
      большим коворк-столом, их два.
    </ion-text>
    <!--  need to add logo -->
    <ion-img class="logo2" src="assets/logo2.png"></ion-img>
  </div>

  <ion-buttons class="buttons">
    <ion-button class="button1" [routerLink]="['/order']">Закажи кофе заранее</ion-button>
    <ion-button class="button2">Чат</ion-button>
  </ion-buttons>
</ion-content>
