
.subtitle {
  display: flex;
  justify-content: center;
  color: #8c8c8c;
  font-size: 12px;
}


ion-card {
  background: #7596B4;
  color: #fff;
  height: 207px;
  padding: 17px 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  ion-card-header {
    padding: 0;

    ion-card-title {
      //font-family: 'Graphik LC App';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 24px;
      color: #FFFFFF;
      margin-bottom: 8px;
    }

    ion-label {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 15px;
      color: #FFFFFF;
    }
  }

  ion-card-content {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    align-items: flex-end;

    & > div {
      display: flex;
      flex-direction: column;

      ion-label {
        font-style: normal;
        font-weight: 500;
        font-size: 64px;
        line-height: 64px;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
      }

      ion-text {
        //font-family: 'Graphik LC App';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
      }
    }

    ion-buttons {
      padding: 4px 8px;
      border-radius: 30px;
      background-color: #fff;

      ion-button {
        color: #C0B77C;
      }
    }
  }
}


.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-label {
    //font-family: 'Graphik LC App';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 8px;
    color: #000000;
  }

  &-text {
    //font-family: 'Graphik Cy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #444444;
  }
}


.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;

  .button1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;
    width: 361px;
    height: 52px;
    background: #7596B4;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .button2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;
    width: 361px;
    height: 52px;
    background: #C0B77C;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
  }
}

.logo1 {
  //display: flex;
  //flex-direction: row;
  //justify-content: center;
  align-items: center;
  //width: 67.56px;
  height: 48px;
  margin: 40px 0 16px;
}

.logo2 {
  //width: 180px;
  height: 50px;
  left: 107px;
  top: 623px;
  margin: 8px 0 11px;
}
